# binaries
./upodman
./example

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Curl
curl-7.87.0/Makefile
curl-7.87.0/src/Makefile
curl-7.87.0/src/Makefile.am
curl-7.87.0/src/tool_hugehelp.c
